.admin-panel {
  width: 100%;
  display: flex;
}
.admin-panel .sideBar,
.admin-panel .panelContent {
  height: 100vh;
}
.admin-panel .sideBar {
  width: 20%;
  background: linear-gradient(#2D1687, #552BC8);
  color: white;
  padding: 3rem 0;
  position: relative;
}
.admin-panel .sideBar .panel {
  cursor: pointer;
  margin-top: 1rem;
  padding: 1rem;
  transition: padding-left 0.34s;
}
.admin-panel .sideBar .panel:first-child {
  margin-top: 0 !important;
}
.admin-panel .sideBar .panel span {
  margin-left: 0.5rem;
  font-weight: bold;
}
.admin-panel .sideBar .activePanelBtn {
  background-color: #552BC8;
  border-left: 5px solid white;
  padding-left: 30px;
}
.admin-panel .sideBar .quit {
  background-color: #FF7D56;
  border: none;
  color: white;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  font-weight: bold;
}
.admin-panel .sideBar .quit i {
  padding: 0 0.5rem;
}
@media screen and (max-width: 800px) {
  .admin-panel .sideBar {
    display: none;
  }
}
.admin-panel .panelContent {
  width: 80%;
  padding: 3rem;
  overflow: auto;
}
.admin-panel .panelContent .homeCards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}
.admin-panel .panelContent .homeCards .homeCard {
  display: flex;
  justify-content: space-between;
  width: 22%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0.8rem;
}
.admin-panel .panelContent .homeCards .homeCard .homeCardRight {
  width: 50px;
}
.admin-panel .panelContent .homeCards .homeCard .homeCardLeft h6 {
  color: #7e7e7e;
}
.admin-panel .panelContent .homeCards .homeCard .homeCardLeft h5 {
  color: #2B444E;
  font-weight: 800;
}
@media screen and (max-width: 800px) {
  .admin-panel .panelContent .homeCards {
    flex-wrap: wrap;
  }
  .admin-panel .panelContent .homeCards .homeCard {
    display: flex;
    width: 49%;
    margin-top: 1rem;
  }
}
.admin-panel .panelContent .downloadTable {
  background-color: #1d6f42;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
}
.admin-panel .panelContent .downloadTable .bi {
  margin-right: 0.5rem;
}
.admin-panel .panelContent .panel2Content,
.admin-panel .panelContent .panel3Content,
.admin-panel .panelContent .panel4Content {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-panel .panelContent #panel5 .ogrenciFiltrele .selectGrup,
.admin-panel .panelContent #panel5 .ogrenciFiltrele .selectOgreci {
  padding: 0.5rem 2rem;
}
.admin-panel .panelContent #panel5 .filterGrupBtn,
.admin-panel .panelContent #panel5 .filterOgrenci {
  background-color: #FF7D56;
  color: white;
  border: none;
  margin-right: 0.5rem;
  padding: 0.5rem 2rem;
}
.admin-panel .panelContent #panel5 .clearGroupFilter,
.admin-panel .panelContent #panel5 .clearOgrenciFilter {
  background-color: rgb(230, 22, 22);
  border: none;
  padding: 0.5rem 2rem;
  color: white;
}
.admin-panel .panelContent #panel7 .sinavlar .sinavDuzenleCard .editBtn {
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: #FF7D56;
  border: none;
  padding: 0.5rem 0;
}
.admin-panel .panelContent #panel7 .sinavlar .sinavDuzenleCard p {
  color: #7e7e7e;
}
@media screen and (max-width: 800px) {
  .admin-panel .panelContent {
    width: 100%;
    height: 92vh;
    padding: 0.5rem;
  }
  .admin-panel .panelContent .filterGrupBtn,
  .admin-panel .panelContent .filterOgrenci {
    margin-top: 1rem;
    margin-left: 0 !important;
  }
}

.panelContainer {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
  width: 50%;
}
@media screen and (max-width: 900px) {
  .panelContainer {
    width: 100%;
  }
}
.panelContainer h2 {
  color: #2D1687;
  text-align: center;
}
.panelContainer input,
.panelContainer select,
.panelContainer button {
  width: 100%;
  height: 2.5rem;
  margin-top: 1rem;
  padding: 0 0.5rem;
}
.panelContainer textarea {
  width: 100%;
  margin-top: 1rem;
  resize: none;
  padding: 0.5rem;
}
.panelContainer button {
  background-color: #FF7D56;
  border: none;
  color: white;
}
.panelContainer label {
  color: rgb(255, 72, 72);
  font-size: 0.8rem;
}

.dataTables_length label,
.dataTableFilter_filter label {
  margin-top: 1rem;
}

.mobileSideBar {
  width: 100%;
  background-color: #2D1687;
  position: absolute;
  bottom: 0;
  display: none;
}
.mobileSideBar .panel i {
  color: white;
  font-size: 1.7rem;
}
.mobileSideBar button {
  border: none;
}
@media screen and (max-width: 800px) {
  .mobileSideBar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
}/*# sourceMappingURL=admin-panel.css.map */