$dark : #2B444E;
$lightPurple : #552BC8;
$darkPurple : #2D1687;
$btnOrange : #FF7D56;

.registerSec {
    background: linear-gradient($darkPurple, $lightPurple);

    .registerDiv {
        background-color: white;
        padding: 2rem;

        input,
        select,
        button {
            width: 100%;
            height: 2.5rem;
            margin-bottom: 1rem;
        }

        label {
            margin-bottom: .5rem;
        }

        .register {
            background-color: $btnOrange;
            color: white;
            border: none;
        }
    }
}