$dark : #2B444E;
$lightPurple : #552BC8;
$darkPurple : #2D1687;
$btnOrange : #FF7D56;

.adminLoginSec{
    background: linear-gradient($darkPurple,$lightPurple);
    .loginAdmin{
        background-color: white;
        padding: 2rem;
        input{
            width: 100%;
            height: 2.5rem;
            margin-top: 1rem;
        }
        button{
            background-color: $btnOrange;
            color: white;
            width: 100%;
            height: 2.5rem;
            margin-top: 1rem;
            border: none;
        }
    }
}