$dark : #2B444E;
$lightPurple : #552BC8;
$darkPurple : #2D1687;
$btnOrange : #FF7D56;


header{
    background-image: url("../../img/banner2-img.jpg");
    background-position: bottom;
    background-size: cover;
    color: white;
    border-bottom-left-radius: 40%;    
    border-bottom-right-radius: 40%;    
    p{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .hemenBasla{
        background-color: $btnOrange;
        color: white;
        text-decoration: none; 
        padding: 1rem 3rem;
        border-radius: 2rem; 
    }
    .navbar-brand{
        font-size: 2.5rem;
        font-family: "Display Uncanny W90 Regular";
        color: white;
    }
    .navBtn{
        border: 1px solid white;
        color: white;
        font-weight: bold;
        padding: 1rem 2rem !important;
        border-radius: 2rem;
        &:hover{
            background-color: $btnOrange;
            color: white;
            border-color: $btnOrange;
        }
        @media screen and (max-width:991px) {
            margin-top: 1rem;
            text-align: center;
        }
    }
    .headerContent{
        padding: 3rem 0 8rem 0;
    }
    .quit{
        background-color: rgb(253, 58, 58);
    }
    @media screen and (max-width:991px) {
        clip-path: none;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        .headerContent{
            padding: 1rem 0 5rem 0;
        }
    }
}

.panelNav{
    border-radius: 0 !important;
}

.panelDisabled{
    display: none;
}

.quizs {
    .quizsFilterButtons{
        .quizsFilterButton{
            background: transparent;
            border: none;
            color: $dark;
            font-weight: bold;
            margin: 0 1rem;
            opacity: .5;
            @media screen and (max-width:768px) {
                margin: 0;
            }
        }
        .activeQuizFilterButton{
            border-bottom: 2px solid $dark;
            opacity: 1;
        }
    }
    a {
        text-decoration: none;

        .quizCard {
            background-color: white;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;
            border-radius: 1rem;
            border: 1px solid white;
            h5 {
                color: white;
                padding: 1rem;
                background-color: $dark;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }

            .quizCardBody {
                padding: 1rem;
                .quizCardImg{
                    text-align: center;
                    img{
                        width: 80%;
                    }
                }
                .quizCardEtiket {
                    padding: .5rem 0;
                    display: flex;
                    flex-wrap: wrap;

                    .quizCardEtiketSpan {
                        background-color: $lightPurple;
                        color: white;
                        margin-top: .5rem;
                        margin-right: .5rem;
                        padding: .3rem .7rem;
                        font-size: .8rem;
                        border-radius: .5rem;
                        transition: .35s;
                        &:hover{
                            background-color: $dark;
                            color: $lightPurple;
                        }
                    }
                }
            }
        }
    }
}

.headerImgParent{
    padding-bottom: 7.5rem;
    position: relative;
    overflow: hidden;
    transform: translateY(-15%);
    .headerImg{
        img{
            border-radius: 1rem;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }
    }
    .rocketLeft{
        position: absolute;
        top: 30%;
        left: -60px;
        animation: headerPanelLeftAnimation 5s linear infinite;
    }
    .rocketRight{
        position: absolute;
        transform: scaleX(-1);
        top: 30%;
        right: -60px;
        animation: headerPanelRightAnimation 7s linear infinite;
    }
    @keyframes headerPanelLeftAnimation {
        0%{
            top:30%;
            left: -60px;
        }
        50%{
            top: 20%;
            left: -20px;
        }
        100%{
            top:30%;
            left: -60px;
        }
      }
    @keyframes headerPanelRightAnimation {
        0%{
            top: 30%;
            right: -60px;
        }
        50%{
            top: 20%;
            right: -20px;
        }
        100%{
            top:30%;
            right: -60px;
        }
      }
    @media screen and (max-width:768px) {
        padding-bottom: 5rem;
        .headerImg{
            display: none;
        }
    }
    @media screen and (max-width:991px) {
        .rocketLeft,.rocketRight{
            display: none;
        }
    }
}

.feature{
    margin-bottom: 5rem;
    .featureCard{
        position: relative;
        text-align: center;
        color: $dark;
        h5{
            padding: .5rem 0;
        }
        p{
            color: rgb(156, 156, 156);
        }
        .featureIcon{
            width: 70px;
            height: 70px;
            border-radius: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            position: absolute;
            left: 50%;
            transform: translate(-50%,-100%);
        }
    
        .feature1{
            background: -webkit-linear-gradient(0deg,#e2906e 0,#e83a99 100%);
            box-shadow: 2.419px 9.703px 12.48px 0.52px rgba(232,58,153,.5);
        }
    
        .feature2{
            background: -webkit-linear-gradient(0deg,#f6d365 0,#fda085 100%);
            box-shadow: 2.419px 9.703px 18.24px 0.76px rgba(253,160,133,.5);  
        }
    
        .feature3{
            background: -webkit-linear-gradient(0deg,#95b4ff 0,#7397ff 100%);
            box-shadow: 2.419px 9.703px 12.48px 0.52px rgba(115,151,255,.5);
        }
    
        .feature4{
            background: -webkit-linear-gradient(0deg,#9df3a7 0,#57d464 100%);
            box-shadow: 2.419px 9.703px 12.48px 0.52px rgba(87,212,100,.5);
        }
        @media screen and (max-width:768px) {
            margin-top: 6rem;
        }
    }
}


.desktopScreen{
    background-image: url("../../img/banner3-img.jpg");
    background-position: right;
    background-size: cover;
    padding: 4rem 0 6rem 0;
    margin-top: 7rem;
    .desktopScreenListButtons{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            margin-top: 2.5rem;
            .owlBtn{
                color: white;
                text-decoration: none;
                font-size: 1.2rem;
                transition: padding-left .34s;
                .bi-arrow-right-circle-fill{
                    display: none;
                    margin-left: .5rem;
                }
            }
            .owlActive{
                padding: 1rem 2rem;
                background-color: $btnOrange;
                border-radius: 10px;
                font-weight: bold;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }
    }
    .owl-carousel{
        width: 670px;
        transform: translate(15%,0);
        .owlİtem{
            img{
                width: 670px !important;
                height: 450px;
                transform: translate(0,8.5%);
            }
        }
    }
    .desktopPngBg{
        position: absolute;
        top: 0;
    }

}