$dark : #2B444E;
$lightPurple : #552BC8;
$darkPurple : #2D1687;
$btnOrange : #FF7D56;

header{
    background:linear-gradient(45deg, $darkPurple,$lightPurple);
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 41%, 50% 130%, 0 41%);    p{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .hemenBasla{
        background-color: $btnOrange;
        color: white;
        text-decoration: none; 
        padding: 1rem 3rem;
        border-radius: 2rem; 
    }
    .navbar-brand{
        font-size: 2.5rem;
        font-family: "Display Uncanny W90 Regular";
        color: white;
    }
    .navBtn{
        border: 1px solid white;
        color: white;
        font-weight: bold;
        padding: 1rem 2rem !important;
        border-radius: 2rem;
        &:hover{
            background-color: $btnOrange;
            color: white;
            border-color: $btnOrange;
        }
        @media screen and (max-width:991px) {
            margin-top: 1rem;
            text-align: center;
        }
    }
    .headerContent{
        padding: 1rem 0 10rem 0;
    }
    .quit{
        background-color: rgb(253, 58, 58);
    }
    @media screen and (max-width:991px) {
        clip-path: none;
        .headerContent{
            padding: 1rem 0 7rem 0;
        }
    }
}

.quizs {
    .quizsFilterButtons{
        .quizsFilterButton{
            background: transparent;
            border: none;
            color: $dark;
            font-weight: bold;
            margin: 0 1rem;
            opacity: .5;
            @media screen and (max-width:768px) {
                margin: 0;
            }
        }
        .activeQuizFilterButton{
            border-bottom: 2px solid $dark;
            opacity: 1;
        }
    }
    a {
        text-decoration: none;

        .quizCard {
            background-color: white;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;
            border-radius: 1rem;
            border: 1px solid white;
            h5 {
                color: white;
                padding: 1rem;
                background-color: $dark;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }

            .quizCardBody {
                padding: 1rem;
                .quizCardImg{
                    text-align: center;
                    img{
                        width: 80%;
                    }
                }
                .quizCardEtiket {
                    padding: .5rem 0;
                    display: flex;
                    flex-wrap: wrap;

                    .quizCardEtiketSpan {
                        background-color: $lightPurple;
                        color: white;
                        margin-top: .5rem;
                        margin-right: .5rem;
                        padding: .3rem .7rem;
                        font-size: .8rem;
                        border-radius: .5rem;
                        transition: .35s;
                        &:hover{
                            background-color: $dark;
                            color: $lightPurple;
                        }
                    }
                }
            }
        }
    }
}

.headerImg{
    transform: translateY(-20%);
    img{
        border-radius: 1rem;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    @media screen and (max-width:768px) {
        display: none;
    }
}