body {
  background-color: #f4f5ff;
}

header {
  background: linear-gradient(45deg, #2D1687, #552BC8);
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 130%, 0 75%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 130%, 0 75%);
}
header p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
header .hemenBasla {
  background-color: #FF7D56;
  color: white;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
}
header .navbar-brand {
  font-size: 2.5rem;
  font-family: "Display Uncanny W90 Regular";
  color: white;
}
header .navBtn {
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 1rem 2rem !important;
  border-radius: 2rem;
}
header .navBtn:hover {
  background-color: #FF7D56;
  color: white;
  border-color: #FF7D56;
}
@media screen and (max-width: 991px) {
  header .navBtn {
    margin-top: 1rem;
    text-align: center;
  }
}
header .headerContent {
  padding: 1rem 0 10rem 0;
}
header .quit {
  background-color: rgb(253, 58, 58);
}
@media screen and (max-width: 991px) {
  header {
    -webkit-clip-path: none;
            clip-path: none;
  }
  header .headerContent {
    padding: 1rem 0 7rem 0;
  }
}

.panelNav {
  -webkit-clip-path: none;
          clip-path: none;
}

.quizs .quizsFilterButtons .quizsFilterButton {
  background: transparent;
  border: none;
  color: #2B444E;
  font-weight: bold;
  margin: 0 1rem;
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .quizs .quizsFilterButtons .quizsFilterButton {
    margin: 0;
  }
}
.quizs .quizsFilterButtons .activeQuizFilterButton {
  border-bottom: 2px solid #2B444E;
  opacity: 1;
}
.quizs a {
  text-decoration: none;
}
.quizs a .quizCard {
  background-color: white;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;
  border-radius: 1rem;
  border: 1px solid white;
}
.quizs a .quizCard h5 {
  color: white;
  padding: 1rem;
  background-color: #2B444E;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.quizs a .quizCard .quizCardBody {
  padding: 1rem;
}
.quizs a .quizCard .quizCardBody .quizCardImg {
  text-align: center;
}
.quizs a .quizCard .quizCardBody .quizCardImg img {
  width: 80%;
}
.quizs a .quizCard .quizCardBody .quizCardEtiket {
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
}
.quizs a .quizCard .quizCardBody .quizCardEtiket .quizCardEtiketSpan {
  background-color: #552BC8;
  color: white;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.3rem 0.7rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  transition: 0.35s;
}
.quizs a .quizCard .quizCardBody .quizCardEtiket .quizCardEtiketSpan:hover {
  background-color: #2B444E;
  color: #552BC8;
}

.headerImg {
  transform: translateY(-20%);
}
.headerImg img {
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
@media screen and (max-width: 768px) {
  .headerImg {
    display: none;
  }
}

.feature {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.feature .featureCard {
  position: relative;
  text-align: center;
  color: #2B444E;
}
.feature .featureCard h5 {
  padding: 0.5rem 0;
}
.feature .featureCard p {
  color: rgb(156, 156, 156);
}
.feature .featureCard .featureIcon {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}
.feature .featureCard .feature1 {
  background: -webkit-linear-gradient(0deg, #e2906e 0, #e83a99 100%);
  box-shadow: 2.419px 9.703px 12.48px 0.52px rgba(232, 58, 153, 0.5);
}
.feature .featureCard .feature2 {
  background: -webkit-linear-gradient(0deg, #f6d365 0, #fda085 100%);
  box-shadow: 2.419px 9.703px 18.24px 0.76px rgba(253, 160, 133, 0.5);
}
.feature .featureCard .feature3 {
  background: -webkit-linear-gradient(0deg, #95b4ff 0, #7397ff 100%);
  box-shadow: 2.419px 9.703px 12.48px 0.52px rgba(115, 151, 255, 0.5);
}
.feature .featureCard .feature4 {
  background: -webkit-linear-gradient(0deg, #9df3a7 0, #57d464 100%);
  box-shadow: 2.419px 9.703px 12.48px 0.52px rgba(87, 212, 100, 0.5);
}
@media screen and (max-width: 768px) {
  .feature .featureCard {
    margin-top: 6rem;
  }
}/*# sourceMappingURL=index.css.map */